:root {
  --white: #ffffff;
  --slate: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Інтерактивні елементи */
.button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

button:hover,
button:focus {
  background-color: var(--ocean);
  color: var(--white);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Типографія */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--navyblue);
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
}

/* Кнопки */
.button {
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* border: none;
  min-width: 169px;
  height: 156px; */
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  gap: 10px;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  color: #ffffff;
}
/* Секції */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* ← Центрує по горизонталі */
  justify-content: center; /* ← Якщо треба вертикальне центрування */
  text-align: center;
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.hero-title .line {
  display: block; /* кожен рядок окремо */
}

/* Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo:hover,
.logo:focus {
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1158px; */
  border-bottom: 1px solid #e7e9fc;
}

/* Навігація */
.nav-link {
  display: flex;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px; /*?????*/
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* Адреса */
.address {
  font-style: normal;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;

  gap: 40px;
}
.address-list {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* Контакти */
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* Команда */
.team-section {
  padding: 120px;
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.team-card-first-card {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.name-team {
  padding: 32px 0;
}

.features-section {
  padding: 120px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0); /* приховує елемент */
  overflow: hidden;
  white-space: nowrap; /* запобігає переносу */
}

/* Картка команди */
.team-card {
  background-color: #ffffff;
}
.features-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 5px 0 5px;
  border-radius: 0 0 4px 4px;
  gap: 24px;
}
.feature-item-first-item {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.feature-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0px 0px 32px 0px;
}

/* Портфоліо */
.portfolio-section {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 15px;
}
.portfolio-title {
  font-family: Roboto, sans-serif;
  font-family: 16px;
  font-weight: 400;
  padding-left: 15px;
  /* margin-bottom: 72px; */
  margin-bottom: 8px;
}
.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap; /* ← Щоб переходило на наступний ряд */
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  row-gap: 48px;
}
.portfolio-list li {
  width: calc((100% - 48px) / 3);
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

/* футер */
.page-footer {
  background-color: #2e2f42;
  width: 100%;
  padding: 100px 0;
}
/* .footer-info {
  padding: 32px 20px;
} */
.page-footer .web-studio-logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #4d5ae5;
}

.web-studio-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.page-footer .logo-studio {
  color: var(--cloud);
}
.footer-text-decription {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
